body.darktheme{
  background-color: #1d2a35!important;
  color: #ddd!important;
}

body{
  display: block;
  margin: 8px;
}

p{
	color: black;
	font-family: Times New Roman;
	font-size: 1.5em;
	text-align: justify;
	text-align: center;
	
}

h1{
	font-size: 5em;
}
h2{
	font-size: 2em;
}

.center {
	text-align: center;
}

a{
	color: yellow;
	text-align: center;
	
}

td{
	border: 5pt solid black;
	width: 100pt;
	height: 100pt;
	font-size: 80pt;
	text-align: center;
	font-family: sans;
}

#turn {
	font-weight: bold;
	text-transform: capitalize;
	text-align: center;
	font-size: 16pt;
	background-color: #777777;
	width: 340pt;
}

td:nth-child(1) {
	border-left: none;
}
 
td:nth-child(3) {
	border-right: none;
}
 
tr:nth-child(1) > td {
	border-top: none;
}
 
tr:nth-child(3) >td {
	border-bottom: none;
}

